/*Additional Theme CSS*/
/*
	Adrian's Logo Colors:
	blue: #3357AD;
	yellow: #FBAE17;
*/

#content {max-width: 1000px; }

.green-back{background-color:#84bf31;}
.pink-back{background-color:#fe718b;}
.orange-back {background-color:#ff9800; }
span.glyphicon-btn-small {font-size: 1em;}

/*input-group rounded*/
.ig-round input,  div.input-group-addon {border-radius: 10em;}
.padding-2em {padding: 2em;}

.col-xs-6, .col-xs-12 {padding: 0 !important; }
.border-white {border: solid 2px white;}


.navbar {
	border-radius: 0;
	margin-bottom: 0;
	border: none;
}

.nav-padding {
	font-size: 1.3em;  
	padding-top: .5em; 
	padding-bottom: .5em; 
	text-transform: uppercase;
}

.outside-padding {
	border-right: solid 2px white; 
	border-left: solid 2px white;
}
.navbar-inverse {
	background-color: #3a3a3a;
}
.logo{height: 3em; padding:0; margin:0 2em .3em 1em;}
.navbar-nav{padding-top: .3em;}

footer {
	background-color: #3a3a3a;
	color: #CCC;
	text-transform: uppercase;
	font-size: 1.2em;
	text-align: right;
	padding: 1em 4em .5em 1em;
	margin-top:.5em;
}
footer a {color: #666; font-weight: bold;}
footer a:hover {color: #CCC;}

/* cateogry menu nav-pills  */
.nav-pills {
	background-color: #3859a8; 
	border-top: solid .2em #FFF; 
	border-bottom:solid .2em #FFF;
	box-shadow: 0 .3em 0 #FBAE17, 0 -.3em 0 #3859a8; 
	font-size: 1.5em; 
	margin: .5em 0;
}
.nav-pills>li>a {border-radius: 0; color: #FFF; text-transform: uppercase;}
.nav-pills>li>a:hover {background-color: #FBAE17;}

/* cookies */
.cookies {
	color: #3859a8; 
	text-transform: uppercase; 
	font-style: italic; 
	font-size: 1.4em; 
	font-weight: bold; 
	padding: .5em 1em .3em; 
}

/* Menu items: Front End: Specials and Menu Pages */
.small-thumbnail {
	max-width: 12em;
}
.td-col-img{width: 15em;}
.td-col-text{}
.td-col-button{}

/* Items in Cart */
.bottom-border-blue {
	border-bottom: solid .3em #3859a8;
	margin-bottom: 1em;
}
.input-qty{width: 3.5em; text-align: center;}

/*Ingredients Add/Remove*/
.bg-section-header {
	background-color: #EAEAEA;
	padding: .8em;
	font-size: 1.5em;
	font-weight: bold;
	border-bottom: solid .2em #CCC;
	margin-bottom: 1em;
}
.margin-1em {margin: 1em;}
.margin-2em {margin: 2em;}

/*reflect glyphicon*/
.flip-glyphicon {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

/*Payment Page*/

.payment-form div.input-group-lg{
	padding: .5em 0;
}

.max-width-30em {
	max-width: 30em;
}
.box-grey {
	background-color: #EDEDED;
	border: solid 2em #EDEDED;
	border-radius: 1em;
	margin-bottom: 1em;
}

/*== TOAST NOTIFCATION ==*/
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}


/*PRINT*/
@media print{
	.printHide{display: none;}
}